* {
  font-family: 'Lexend Deco', sans-serif;
  color: #2e475d;
}
body {
  margin: 2em;
}
.foto-perfil {
  width: 100%;
  width: clamp(30px, 60vw, 350px);
  height: auto;
  border-radius: 50%;
}

.contenedor-presentacion {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contenedor-presentacion-texto {
  width: 100%;
  text-align: center;
}
.sub-titulo {
  font-weight: 400;
}

.redes-sociales {
  display: flex;
  gap: 0.2em;
}
.social-media-button {
  cursor: pointer;
  background: #cacaca;
  border: 0;
  padding: .2em .5em;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}