* {
  font-family: 'Lexend Deco', sans-serif;
  color: #2e475d;
}
body {
  margin: 2em;
}
.foto-perfil {
  width: 100%;
  width: clamp(30px, 60vw, 500px);
  height: auto;
  border-radius: 50%;
}

.contenedor-presentacion {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contenedor-presentacion-texto {
  width: 100%;
  text-align: center;
}
.sub-titulo {
  font-weight: 400;
}